<p-toast position="top-right" />

<div [class.hidden]="activePage() !== 'home'">
  <header class="home__header">
    <div class="home__header-rule"></div>
    <div class="home__header-titles">
      <h1 class="home__title">Bunko</h1>
      <span class="home__title-jp">文庫</span>
    </div>
    <div class="home__header-rule"></div>
  </header>

  <div class="home__grid">
    @for (manga of mangas(); track manga.manga_id) {
      <app-manga-card [manga]="manga" (clicked)="onMangaClick($event)" />
    } @empty {
      <p class="home__empty">No manga found.</p>
    }
  </div>
</div>

<div [class.hidden]="activePage() !== 'status'">
  <app-status [mangas]="mangas()" />
</div>

<app-manga-detail-dialog
  [(visible)]="detailVisible"
  [mangaId]="selectedMangaId()"
  (mangaDeleted)="onMangaDeleted()"
/>

<app-bottom-nav
  [activePage]="activePage()"
  (pageChange)="onPageChange($event)"
  (mangaAdded)="onMangaAdded()"
/>