---
import Layout from '../layouts/Layout.astro';
import AddMangaModal from "../components/AddMangaModal.vue"
---

<Layout>

  <nav>Bunko</nav>


  <AddMangaModal client:load title="Add Manga" description="Add a new manga"/>
</Layout>
