/* You can add global styles to this file, and also import other style files */
:root {
    --primal-black: #171218;
    --primal-white: #f2fbeb;
}

body {
    background-color: var(--primal-white);
}